<div class="navbar">
  <div class="logo">
    <a routerLink="/">
      <img src="/assets/images/logo.png" alt="Blissful Globe Travel Logo" class="logo-image" />
    </a>
  </div>
  <nav class="nav-wrapper">
    <ul>
      <li class="nav-item"><a routerLink="/home" class="active">Home</a></li>
      <li class="nav-item"><a routerLink="/about">About</a></li>
      <li class="nav-item dropdown">
        <a (click)="toggleDestinationsDropdown()" class="dropdown-toggle">Destinations <span class="arrow">▼</span></a>
        <ul class="dropdown-menu" [ngClass]="{'open': isDestinationsDropdownOpen}">
          <li><a routerLink="/destinations/kenya/packages" (click)="closeDestinationsDropdown()">Kenya</a></li>
          <li><a routerLink="/destinations/uganda/packages" (click)="closeDestinationsDropdown()">Uganda</a></li>
          <li><a routerLink="/destinations/tanzania/packages" (click)="closeDestinationsDropdown()">Tanzania</a></li>
          <li><a routerLink="/destinations/rwanda/packages" (click)="closeDestinationsDropdown()">Rwanda</a></li>
        </ul>
      </li>
      <li class="nav-item"><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="button-wrapper">
    <a href="/enquire" class="enquire-btn">Enquire Now</a>
  </div>
  <button class="nav-toggle" (click)="toggleMenu()" aria-label="Toggle menu">
    ☰
  </button>
</div>